---
apiVersion: v1
kind: Secret
metadata:
  name: health-auto-export-secret
  namespace: health
type: Opaque
stringData:
  mongo-username: admin
  mongo-password: "#{ hae_mongo_password }#"
  read-token: "#{ hae_read_token }#"
  write-token: "#{ hae_write_token }#"
