---
apiVersion: v1
kind: Secret
metadata:
  name: authelia-secrets
  namespace: security
type: Opaque
stringData:
  session_secret: "#{authelia_session_secret}#"
  storage_encryption_key: "#{authelia_storage_encryption_key}#"
  jwt_secret: "#{authelia_jwt_secret}#"
---
apiVersion: v1
kind: Secret
metadata:
  name: authelia-users
  namespace: security
type: Opaque
stringData:
  users_database.yml: |
    users:
      #{authelia_username}#:
        disabled: false
        displayname: "#{authelia_displayname}#"
        password: "#{authelia_password_hash}#"
        email: "#{authelia_email}#"
        groups:
          - admins
