---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: entertainment

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./downloads-pvc.yaml
  - ./autobrr/ks.yaml
  - ./kavita/ks.yaml
  - ./flaresolverr/ks.yaml
  - ./jackett/ks.yaml
  - ./jellyfin/ks.yaml
  - ./jellyseerr/ks.yaml
  - ./radarr/ks.yaml
  - ./recyclarr/ks.yaml
  - ./sonarr/ks.yaml
  - ./transmission/ks.yaml
