---
apiVersion: v1
kind: Secret
metadata:
  name: wg-easy-secret
  namespace: network
stringData:
  admin-password-hash: "#{ wg_easy_admin_password_hash }#"
  server-private-key: "#{ wg_easy_server_private_key }#"
