---
# Forgejo Helm chart from Codeberg OCI registry
# Note: Renovate cannot auto-update this chart (Codeberg OCI not supported)
# Check for updates manually at: https://codeberg.org/forgejo-contrib/forgejo-helm/releases
# renovate: datasource=docker depName=codeberg.org/forgejo-contrib/forgejo-helm versioning=semver
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: forgejo
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: v16.0.1
  url: oci://codeberg.org/forgejo-contrib/forgejo-helm
