---
apiVersion: v1
kind: Secret
metadata:
  name: fitness-ingestion-secret
  namespace: fitness
type: Opaque
stringData:
  # Garmin Connect credentials
  GARMIN_EMAIL: "#{ fitness_garmin_email }#"
  GARMIN_PASSWORD: "#{ fitness_garmin_password }#"
  # Withings OAuth2 credentials
  WITHINGS_CLIENT_ID: "#{ fitness_withings_client_id }#"
  WITHINGS_CLIENT_SECRET: "#{ fitness_withings_client_secret }#"
  # Apple Health webhook API key
  APPLE_WEBHOOK_KEY: "#{ fitness_apple_webhook_key }#"
  # InfluxDB connection
  INFLUXDB_URL: "http://influxdb.fitness.svc.cluster.local:8086"
  INFLUXDB_TOKEN: "#{ fitness_influxdb_admin_token }#"
  INFLUXDB_ORG: "homelab"
  INFLUXDB_BUCKET: "health_metrics"
