---
apiVersion: v1
kind: Secret
metadata:
  name: autobrr-config-r2-restic-secret
type: Opaque
stringData:
  RESTIC_REPOSITORY: "s3:#{ r2_endpoint }#/#{ r2_bucket }#/autobrr-config"
  RESTIC_PASSWORD: "#{ volsync_restic_password }#"
  AWS_ACCESS_KEY_ID: "#{ r2_access_key_id }#"
  AWS_SECRET_ACCESS_KEY: "#{ r2_secret_access_key }#"
  AWS_DEFAULT_REGION: "auto"
