---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./books
  - ./cert-manager
  - ./cloud
  - ./database
  - ./default
  - ./flux-system
  - ./forgejo
  - ./immich
  - ./kube-system
  - ./network
  - ./entertainment
  - ./observability
  - ./storage
  - ./system-upgrade
