---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  SECRET_DOMAIN: "#{ cloudflare_domain }#"
  FITNESS_INFLUXDB_ADMIN_TOKEN: "#{ fitness_influxdb_admin_token }#"
  FITNESS_INFLUXDB_ADMIN_PASSWORD: "#{ fitness_influxdb_admin_password }#"
