---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
  - ../../../../components/volsync
resources:
  - ./secret.sops.yaml
  - ./secret-r2.sops.yaml
patches:
  - target:
      kind: ReplicationSource
      name: volsync-local
    patch: |
      - op: replace
        path: /metadata/name
        value: recyclarr-config-backup
      - op: replace
        path: /metadata/namespace
        value: downloads
      - op: replace
        path: /spec/sourcePVC
        value: recyclarr
      - op: replace
        path: /spec/trigger/schedule
        value: "0 5 * * *"
      - op: replace
        path: /spec/restic/repository
        value: recyclarr-config-restic-secret
      - op: replace
        path: /spec/restic/capacity
        value: 1Gi
  - target:
      kind: ReplicationSource
      name: volsync-r2
    patch: |
      - op: replace
        path: /metadata/name
        value: recyclarr-config-backup-r2
      - op: replace
        path: /metadata/namespace
        value: downloads
      - op: replace
        path: /spec/sourcePVC
        value: recyclarr
      - op: replace
        path: /spec/restic/repository
        value: recyclarr-config-r2-restic-secret
      - op: replace
        path: /spec/restic/capacity
        value: 1Gi
