---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./secret.sops.yaml
  - ./garage-secret.sops.yaml
  - ./postgres.yaml
  - ./redis-ocirepository.yaml
  - ./redis-helmrelease.yaml
  - ./ocirepository.yaml
  - ./helmrelease.yaml
