---
apiVersion: v1
kind: Secret
metadata:
  name: grimmory-mariadb-secret
  namespace: entertainment
type: Opaque
stringData:
  mariadb-root-password: "#{ grimmory_mariadb_root_password }#"
  mariadb-password: "#{ grimmory_mariadb_password }#"
